# PUBLIC ENV VARS

# General
NEXT_PUBLIC_DAO_ADDRESS=0xd9A924bF3FaE756417b9B9DCC94C24681534b8F7
NEXT_PUBLIC_TOKEN_ADDRESS=0x9A3218197C77F54BB2510FBBcc7Da3A4D2bE0DeE
NEXT_PUBLIC_ENCLAVE_FEE_TOKEN_ADDRESS=0x8a72996faa56747354a0D9fE817974857055Bd77

# Plugin addresses
# CRISP plugin -> PRIVATE (encrypted) proposals
NEXT_PUBLIC_CRISP_VOTING_PLUGIN_ADDRESS=0x89ECeD004714779C7b6B3bD72634D2B7A132E1C0
# TokenVoting plugin -> PUBLIC proposals (FOLD ERC20Votes token)
NEXT_PUBLIC_TOKEN_VOTING_PLUGIN_ADDRESS=

NEXT_PUBLIC_SECONDS_PER_BLOCK=12

# The block number where the plugin was deployed (used to speed up event queries)
NEXT_PUBLIC_PLUGIN_DEPLOYMENT_BLOCK=0

# Enclave 
NEXT_PUBLIC_CRISP_SERVER_URL="http://127.0.0.1:4000"

# Network and services
NEXT_PUBLIC_CHAIN_NAME=sepolia
NEXT_PUBLIC_WEB3_ENDPOINT=https://eth-sepolia.g.alchemy.com/v2/

NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="YOUR WALLET CONNECT PROJECT ID"

NEXT_PUBLIC_IPFS_ENDPOINTS="https://domain1/api,https://domain2/api/v0"
NEXT_PUBLIC_PINATA_JWT="..."

NEXT_PUBLIC_ETHERSCAN_API_KEY="OPTIONAL: ETHERSCAN API"
